<header class="header">
  <div class="header-top">
    <%= image_tag "header_image.png", class:"header-image" %>
    <%= image_tag "gamgame_icon.png", class:"gamgame-icon" %>
    <div class="navi">
      <a href="#" class="pull">チャンネル情報</a>
      <a href="#" class="pull">何か1</a>
      <a href="#" class="pull">何か2</a>
      <a href="#" class="pull">何か3</a>
    </div>
  </div>
  <h1 class="title">ギャンゲーム〜ギャンブル好きのゲーム実況CH〜</h1>
  <h2>all</h2>
  <h3>all</h3>
  <h4>all</h4>
  <h5>all</h5>
  <h6>all</h6>
  <p>all</p>
</header>


<p>説明</p>
<p>ギャンブル好きのゲーマー</p>
<p>様々なゲーム実況を行います。(ウイイレ、ダビスタ等)</p>
<p>競馬、競艇、競輪もやります。</p>

<p>★チャンネル登録&高評価宜しくお願いします！！</p>


<p>統計情報</p>
<p>2021/02/22 に登録</p>
<p>995 回視聴</p>

<p>チャンネル登録者数 23人</p>